@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
}

body {
  background-color: white;
  color: #4d4c4c;
  position: relative;
  overflow-x: hidden;
}

.title-text {
height: 300px;
width: 500px;
display: flex;
justify-content: center;
margin-top: 5%;
}

.logo {
height: 250px;
width: 200px;
margin-left: 10%;
margin-top: 10%;
}

.nav-bar a:link {
  color: #244b2c;
  text-decoration: none;
}

.nav-bar a:visited {
  text-decoration: none;
  color: #244b2c;
}

.active {
  text-decoration: underline !important;
}

p {
padding: 0 20px 0 20px;
font-size: 13px;
}

/* Image of bookshelf */
.bookshop-opening-img {
  height: 395px;
  width: 400px;
  margin-top: 3%;
}

/* div container for bookshelf image */


/* Opening hours text */
.opening-hours-text {
  margin-top: 3%;
  font-size: 13px;
  text-align: center;
}

/* MAKE IMAGES CIRCULAR ?*/

/* Border surrounding the opening hours text */
.opening-hours-border {
  border: 3px solid #192413;
  height: 394px;
  width: 400px;
  background-color: #B8C6AF;
  background-color: rgba(184,198,175, .8);
}


.map {
border: 3px solid #192413;
height: 405px;
width: 405px;
margin-bottom: 3%;
}


.holding-books {
  height: 400px;
  width: 400px;
  margin-bottom: 3%;
}
/*
.col-5 {
  display: flex;
  justify-content: space-between;
}
*/

h2 {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
}


footer {
  text-align: center;
  height: 150px;
  display: block;
  position: fixed;
  margin-top: auto;
}

.horizontal-rule {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 3%;
}

.hr-line {
  width: 50%;
  position: absolute;
  margin: 22px auto;
  border-bottom: 1px solid #4d4c4c;
}

.book {
  top: 3px;
  color: #4d4c4c;
  height: 40px;
  width: 40px;
  background-color: transparent; /* instead of white as there was overlap on smaller screens */
  position: relative;
}


.nav-bar {
  font-size: 100%;
  letter-spacing: 3px;
  display: inline-block;
  margin: auto;
  overflow: hidden;
  text-align: center;
  width: 100%;
  padding-bottom: 25px;
  /*   position: relative;
*/
}

.nav-bar li {
  margin-right: 30px;
  text-decoration: none;
  color: #4d4c4c;
  list-style-type: none;
  display: inline-block;
  font-size: 25px;
}

.nav-bar li a:hover {
  text-decoration: underline;
}  

.image1-container {
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url("https://images.unsplash.com/photo-1533327325824-76bc4e62d560?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80") no-repeat center center;
  /* Below code provided by CI Bootstrap Whiskey Drop */
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* below code provided by CI Love Running Project */
  animation-name: image1-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  
}

@keyframes image1-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

.bottom-container {
  padding: 30px 0 30px;
  display: block;
  background-color: #192413;
  color: white;

}

/* Our Collections Page */
/* Divs with book info gets darker shades of green as they go down*/

.collections {
  min-height: 240vh;
  margin-top: 3%;
}

.collections img {
  height: 500px;
  width: 356px;
}

.collection1 img {
  float: right;
  margin-right: 200px;
}

.collection1-text {
  text-align: center;
  border: 3px solid #192413;
  height: 494px;
  width: 350px;
  float: left;
  margin-left: 200px;
  background-color: #B8C6AF;
}

.collection2 img {
  float: left;
  margin-left: 200px;
  margin-top: 3%;
}

.collection2-text {
  text-align: center;
  border: 3px solid #192413;
  height: 494px;
  width: 350px;
  float: right;
  margin-right: 200px;
  background-color: #8E9C86;
  margin-top: 3%;
}
/* use different background colours? */
.collection3 img {
  float: right;
  margin-right: 200px;
  margin-top: 3%;
}

.collection3-text {
  text-align: center;
  border: 3px solid #192413;
  height: 494px;
  width: 350px;
  float: left;
  margin-left: 200px;
  background-color: #66735F;
  margin-top: 3%;
}

/* Media Querries */

@media screen and (max-width: 768px) {
  .image1-container img {
    max-height: 150px;
    height: 150px;
    width: 100%;
  }

  .title-text {
    height: 185px;
    width: 275px;
    margin-top: 40px;
  }

  .logo {
    height: 125px;
width: 100px;
margin-top: 25%;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    height: 100px;
    width: 75px;
  }

}